/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

body {
    width: 1200px;
    background-color: white;
    font-family: 'Roboto';
    margin: 0 auto;
}

.searchPanel {
    display: flex;
    align-items: center; 
    margin-top: 40px; 
}

.logotype {
    margin-left: 100px; 
}

.searchTeacher {
    margin-left: auto;
    /* display: flex;  */
    float: right;
    align-items: center; 
    margin-right: 100px; 
}

.searchInput {
    width: 220px;
    height: 40px;
    margin-right: 15px;
    text-align: left;
}

.searchInput:hover {
    width: 400px;
    cursor: pointer;
}

.menuPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0; 
    padding-top: 50px; 
}

#footerMenu {
    padding: 0;
    margin-bottom: 30px;
}

/* .menu {
    display: flex;
} */

.menu {
    float: left;
}

.menuList {
    display: flex; 
    list-style: none; 
    margin-left: 100px;
}

.menuItem {
    margin-right: 40px; 
}

.menuItem:last-child {
    margin-right: 0; 
}

.addTeacherButton {
    height: 50px;
    width: 170px;
    margin-right: 100px; 
}

.line { 
    background-color: black; 
    width: 40%; 
    margin: auto; 
    margin-top: 30px;
    margin-bottom: 30px;
    height: 1.3px;
}

.nameLogo {
    font-family: 'Times New Roman', Times, serif; 
    color: white; 
    text-shadow: 
        2px 1px 0 black,
        -2px -1px 0 rgb(246,99,78);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer; 
    letter-spacing: normal;
}

.nameLogo:hover{
    text-shadow: 
        3px 2px 0 black,
        -3px -2px 0 rgb(246,99,78);
      
}

.menuLink{
    color: rgb(246,99,78);
    cursor: pointer; 
    font-size: 17px; 
    font-weight: bold;
}

.menuLink:hover {
    color: rgb(207, 69, 48);
}

.addTeacherButton, .searchButton {
    background-color: white; 
    color: rgb(246,99,78); 
    border: 2px solid rgb(246,99,78); 
    font-size: 15px; 
    cursor: pointer; 
    text-align: center; 
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
}

.addTeacherButton:hover, .searchButton:hover, .formButton:hover {
    background-color: rgb(246,99,78);
    color: white; 
}

.searchButton{
    font-size: 15px; 
    width: 95px;
    height: 40px;
}

.searchInput {
    font-size: 15px; 
    padding-left: 5px; 
    text-align: left;
    color: #000;
}

.footer{
    margin-bottom: 50px;
}

h1 {
    font-weight: bold;
}

.filters {
    display: flex;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: left;
    align-items: center;
}

.filter {
    position: relative;
    padding-right: 25px;
    display: flex;
    align-items: center;
}

.filter:not(:first-child) {
    padding-left: 25px;
}

.filter:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    border-right: 2px dotted rgb(142, 142, 142);
  }

.select {
    font-size: 10px;
    font-weight: 500;
    padding: 6px 5px;
}

#selectLabel {
    font-size: 13px;
    color: rgb(142, 142, 142);
    padding: 0;
    margin-right: 5px;
    letter-spacing: normal;
    font-weight: 400;
}

.checkbox {
    color: rgb(142, 142, 142);
}

.checkboxLabel:hover {
    cursor: pointer;
    color: black;
}

.description {
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.paragraph {
    padding-bottom: 40px;
    font-size: 15px;
    font-weight: 200;
}

table {
    width: 1000px;
    margin: 50px 100px 0 100px;
    letter-spacing: normal;
    border-collapse: collapse;
}

th {
    font-size: 15px;
    height: 45px;
    border-bottom: 1px solid #000; 
    font-weight: 200;
    vertical-align: middle;
    padding-left: 15px;
}

td {
    height: 35px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 100;
}

td.t-name {
    text-align: left;
    padding-left: 15px;
}

#t-title {
    text-align: left;
    padding-left: 35px;
}

tbody tr:nth-child(odd) {
    background-color: #f9f5f9;
}

.pagination {
    text-align: left; 
    margin: 35px 0 45px 120px;
}

.page-link {
    margin-right: 20px;
    text-decoration: none;
    color: #2596be;
}

.page-link:hover {
    color: #1d7899;
    cursor: pointer;
}

.page-link.active {
    color: #000;
    text-decoration: underline;
}

.dots {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

#first {
    color: black;
}

th:hover {
    cursor: pointer;
    background-color: rgba(211, 210, 210, 0.386);
    border-bottom: 2px solid #000;
}

th::after {
    content: '  ↓';
    position: relative;
    opacity: 0; 
    text-align: center;
    transition: opacity 0.3s ease; 
    font-size: 15px;
    color: #2596be;
}

th:hover::after {
    opacity: 1;
}

.teachers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    list-style: none;
    margin: 30px 100px 0 100px;
    padding: 0;
}
  
.teacherCard, .teacherCardFavorite {
    text-align: center;
    padding-bottom: 30px;
    box-sizing: border-box;
 }

.avatarImg {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid rgb(246,99,78); 
    overflow: hidden;
    display: inline-block;
    transition: border-color 0.3s ease-in-out;
    background-color: white;
    position: relative;
}
  
.avatarImg img {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    transition: transform 0.3s ease-in-out; 
}

#stared .avatar {
    position: relative;
}

#stared .star {
    position: absolute;
    top: 3px;
    right: 20px;
    color: rgb(255, 217, 0);
    font-size: 40px;
    z-index: 1;
} 


  
.avatarImg img[src=""] {
    display: none; 
}

.initials {
    font-weight: bold;
    color: rgb(246,99,78);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarImg img:not([src=""]) + .initials {
    display: none;
}

.avatarImg:hover img{
    transform: scale(1.2);
}

.avatarImg:hover {
    border: 3px solid rgb(207, 69, 48);
}

.teachersName, .teachersSpeciality, .teachersCountry {
    margin: 20px 0;
    letter-spacing: normal;
}

.teachersName {
    font-size: 18px;
    font-weight: bold;
}

.teachersSpeciality {
    font-size: 13px;
    color: rgb(142, 142, 142);
    font-weight: 200;
}

.teachersCountry {
    font-size: 10px;
    font-weight: 100;
}

.slider {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 40px 0 40px;
  }
  
  .sliderBody {
    overflow-x: auto;
    flex-wrap: nowrap;
    flex: 1;
    margin: 0;
    padding-left: 30px;
    scrollbar-width: thin;
    transition: transform 0.5s ease;
  }
  
  #favoriteTeachersList {
    display: flex;
    justify-content: flex-start;
    transition: transform 0.5s ease;
    padding: 0;
    margin: 0;
  }

  .prevBtn, .nextBtn {
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.374);
    font-size: 60px;
    cursor: pointer;
    font-weight: bolder;
    padding: 0;
    margin: 0;
  }
  .prevBtn:hover, .nextBtn:hover {
    color: black;
  }

  .teacherCardFavorite {
    margin-right: 25px;
  }

  
@media (max-width: 768px) {
    body {
        width: 100%;
        padding: 0 10px;
    }

    .searchPanel {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .logotype {
        margin-left: 0;
    }

    .searchTeacher {
        margin: 10px 0;
    }

    .searchButton {
        margin-top: 20px;
    }

    .searchInput {
        width: 100%;
        margin-right: 0;
    }

    .menuPanel {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .menu {
        float: none;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .menuList {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    .menuItem {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .addTeacherButton {
        width: auto;
        margin-right: 0;
        text-align: center;
    }

    .line {
        width: auto;
        margin: 20px 0;
    }

    .nameLogo {
        font-size: 30px;
        text-align: center;
    }

    .filters {
        flex-direction: column;
        margin-left: 0;
        margin-top: 20px;
        align-items: center;
    }

    .filter {
        padding-right: 0;
        margin-bottom: 5px;
    }

    .filter:not(:last-child)::after {
        content: none;
    }

    .select {
        font-size: 12px;
    }

    #selectLabel {
        font-size: 11px;
    }

    .description {
        margin-left: 0;
        margin-right: 0;
    }

    .paragraph {
        font-size: 14px;
    }

    table {
        width: 100%;
        margin: 20px auto;
    }

    th, td {
        font-size: 12px;
        padding: 5px;
    }

    .pagination {
        margin: 20px 0;
        text-align: center;
    }

    .teachers {
        grid-template-columns: repeat(1, 1fr);
        margin: 20px auto;
    }

    .avatarImg {
        width: 100px;
        height: 100px;
    }

    .avatar {
        position: relative;
        display: inline-block;
        width: 150px;
    }

    #stared .star {
        position: absolute;
        color: rgb(255, 217, 0);
        font-size: 30px;
        z-index: 1;
    } 

    .teachersName {
        font-size: 16px;
    }

    .teachersSpeciality, .teachersCountry {
        font-size: 12px;
    }

    .slider {
        flex-direction: column;
        margin: 20px auto; 
        align-items: center;
    }

    #favoriteTeachersList {
        flex-direction: column;
        margin: 20px auto; 
        align-items: center;   
    }

    .prevBtn, .nextBtn {
        font-size: 40px;
    }

    .teacherCardFavorite:not(:last-child) {
        margin-right: 20px;
    }
}

.teacherCard:hover, .teacherCardFavorite:hover {
    cursor: pointer;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    height: 490px;
    border: none;
    position: fixed;
    background-color: white;
    padding: 0;
}

#infoTeacher {
    width: 700px;
    height: 350px;
    align-items: flex-start;
}

.information {
    display: flex;
    flex-direction: column;
}

.topInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 700px;
}

.teacherInformation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.teacherPhoto {
    width: 30%;
    margin: 10px 20px 0 10px;
}

.teacherName {
    margin: 10px 0 10px 0;
    font-weight: 100;
}

.bottomInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    font-size: 12px;
}

.teacherCountry, .teacherAge,
.teacherEmail, .teacherTel {
    font-size: 12px;
    margin-bottom: 10px;
}

.teacherSpeciality {
    font-weight: bold;
}

.teacherCountry {
    margin-top: 10px;
}

.infoDescription, .map {
    text-align: left;
    margin: 10px;
}

.map {
    margin: 0 0 0 10px;
    text-decoration-style: dotted;
}

.map, .teacherEmail {
    color: #2596be;
}

.teacherEmail {
    text-decoration: none;
    border: none;
}

.t-star {
    margin-right: 10px;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
    border: none;
    background-color: white;
    color: rgb(255, 217, 0);
}

.map:hover, 
.teacherEmail:hover {
    color:#1d7899;
}

dialog::backdrop {
   background-color: rgba(0, 0, 0, 0.5);
}

.close:hover, 
.closeInfo:hover {
    cursor: pointer;
}

.teacherForm {
    margin: 0;
    width: 100%;
}

.form {
    margin: 10px;
    padding: 0;
}

.formButton {
    background-color: white; 
    color: rgb(246,99,78); 
    border: 1px solid rgb(246,99,78); 
    font-size: 15px; 
    cursor: pointer; 
    text-align: center; 
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
    width: 100%;
    height: auto;
    padding: 7px 0 7px;
    margin-top: 10px;
}

.formItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.topForm {
    display: flex;
    background-color: rgb(108, 108, 108);
    color: white;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
}

.formTitle {
    font-weight: bold;
}

.formLabel {
    font-size: 10px;
    margin-bottom: 3px;
    color: rgb(142, 142, 142);
}

.formInput {
    height: 23px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 10px;
    color: black;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 2px;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

#formDate {
    width: 160px;
}

#formBackgroung {
    width: 40px;
}

#formNotes {
    height: 70px;
    text-align: left;
    padding: 5px; 
    resize: none; 
    vertical-align: top;
}

#sex {
    display: flex;
    width: 160px;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    color: rgb(142, 142, 142);
    margin-bottom: 0;
    margin-top: 5px;
}

.radioGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 7px;
    padding-right: 10px;
}

.radioLabel {
    font-weight: 500;
    margin-right: 5px;
}

.radioInput {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

#formSexMale {
    margin-right: 3px;
}

#backgroung {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 160px;
    justify-content: space-between;
    margin-top: 5px;
}

#notes {
    margin-top: 5px;
}